:root{
    /* Primary colors */
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    /* Neutral colors */
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);

    /* Font weights */
    --weight-level-1: 200;
    --weight-level-2: 400;
    --weight-level-3: 600;

    /* Font size */
    --font-size: 15px;
}
*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}

body{
    font-family: 'Poppins';
    font-size:var(--font-size);
    font-weight: var(--weight-level-2); 
    background-color: var(--very-light-gray);
}

main{
    display:flex;
    justify-content:center;

}
main > article{
    width: 90%;
    max-width: 23em;
    padding: 1em;
    margin: 3em 0;
}

header{
    text-align:center;
    margin: auto;
    margin-block-end: 5em;
    max-width:35em;
}

header p{
    margin:1em 0;
}

h1{
    font-weight: var(--weight-level-1);
    color: var(--very-dark-blue);
}

h1,h2{
    font-size:1.6em;
}

h2,h3{
    font-weight: var(--weight-level-3);
    color: var(--very-dark-blue);
}

p{
    color: var(--grayish-blue);
}

section, section div{
    display:flex;
    flex-direction:column;
    gap:1.5em;
    align-items:center;
}

section article{
    grid-column: 1 / 10;
    max-width:25em;
    padding:1.5em;
    background-color:white;
    border-radius:5px;
    box-shadow: 0px 17px 20px 1px rgba(163,165,174,.4);
    -webkit-box-shadow: 0px 17px 20px 1px rgba(163,165,174,.4);
    -moz-box-shadow: 0px 17px 20px 1px rgba(163,165,174,.4);

    display:grid;
    grid-template-columns: repeat(5, 1fr);
}

section article *{
    grid-column: 1 / 6;
}

section article img{
    width:100%;
    grid-column: 5 / 6;
    grid-row: 3;
    margin-block-start:2em;
}

section article:nth-of-type(1){
    border-top: 4px solid var(--cyan);
}

section div article:nth-of-type(1){
    border-top: 4px solid var(--red);
}

section div article:nth-of-type(2){
    border-top: 4px solid var(--orange);
}

section article:nth-of-type(2){
    border-top: 4px solid var(--blue);
}

@media screen and (min-width:600px){

    :root{
        --font-size: 12px;
    }

    h1,h2{
        font-size:2.3em;
    }
    h3{
        font-size:1.5em;
    }
    

    main > article{
        max-width: 80em
    }
    
    section{
        flex-direction: row;
        align-items:center;
        justify-content:center;
    }

    section > *{
        flex: 1 1 30%;
    }

}

@media screen and (min-width:900px){

    :root{
        --font-size: 15px;
    }
}